#grid {
  width: 600px;
  border: 5px solid rgb(4, 255, 4);
  background-color: rgb(41, 0, 0);
}
.row {
  border: 5px solid rgb(255, 188, 188);
  height: 200px;
}
.col,
.col-6,
.col-md-4,
.col-md-8 {
  border: 2px dotted rgb(38, 38, 43);
}
.one {
  background-color: teal;
}
.two {
  background-color: thistle;
}
.three {
  background-color: tomato;
}
.four {
  background-color: turquoise;
}
.five {
  background-color: violet;
}
.six {
  background-color: yellowgreen;
}